extends ../layout

block content 
    h1 Editar Operario
    if error 
        h2= error
    form(action=`/operarios/${operario.id}`, method="post")
        label(for="nombre") nombre
        input(type="text", name="nombre", id="nombre" value=operario.nombre)  
        label(for="apellido") apellido
        input(type="text", name="apellido", id="apellido", value=operario.apellido ) 
        input(type="submit", value="guardar")