extends ../layoutAdmin

block content 
    if error 
        p(class="error", style="color:red;")= error
    if multa 
        article 
            h1="Importe multa: "+multa.importe_multa
            p="Fecha multa: "+multa.fecha_multa
            button 
                a(href='/multas/'+multa.id_multas+'/edit') Editar
            button
                a(href='/multas/'+multa.id_multas+'/delete') Eliminar