extends ../layout

block content
    h1.parking-list-title Aparcar
        if error 
            h2 No se han podido encontrar los datos
        else
    form(method="post" action="/parking/aparcar")
        label(for="zona") Selecciona zona
        select(name="zona")
            option(value="1") Rekalde 
            option(value="2") Miribilla
            option(value="3") Casco Viejo
            option(value="4") Ensanche
            option(value="5") Indautxu
            option(value="6") Deusto
        br
        label(for="tiempo") Cuantas horas quieres aparcar 
        input(type="number" name="tiempo")
        p vas a aparcar 
            span horas
        input(type="submit")