extends ../layout

block content
    h1.parking-list-title Felicidades, acabas de aparcar 
    img(src="https://gifrific.com/wp-content/uploads/2014/02/Nicolas-Cage-Wink-and-Smile-Con-Air.gif", style="width: 500px; margin: auto; text-align: center;")