extends ../layout

block content
    h1.parking-list-title Te nos fuiste :c
    img(src="https://images-ext-2.discordapp.net/external/mDBwwbMLqEjjfeVTgJ-HHo-rOJpNB72J0-JtiH-kY6s/https/media.tenor.com/OmfDlfcomDEAAAAC/nicolas-cage-crying.gif", style="width: 500px; margin: auto; text-align: center;")