extends layout

block content 

    h1.title-home Bienvenido

    .button-grid
        button(class='bloque aparcar', onclick="window.location.href='/parking'") Aparcar
        form(action="/parking/desaparcar" method="post")
            button(name="desaparcar" class='bloque desaparcar' formaction='/parking/desaparcar') Desaparcar
        button(class='bloque historico', onclick="window.location.href='/parking'" ) Histórico
        button(class='bloque cancelar' formaction='rutaCancelar') Cancelar denuncia

    div.image-container
        img.image(src="https://play-lh.googleusercontent.com/Y4kNPD0EqQ4tv3wKiD3esoQcD4X4cqXGIMuyGdnOlcTplZSG0W6vBJ0bMI1x9yNrsEI")