html
  head    
    title OTA BILBAO 
    link(rel="stylesheet" href="/css/style.css")
  body 
    nav  
      a(href="/login") Home
    block content 

    script(type="module", src="js/layout.js")
    block script