html 
    head    
        title OTA BILBAO 
        link(rel="stylesheet" href="/css/style.css")
    body 
        nav     
            a(href="/") Home 
            a(href="/coches") Listado coches 
            a(href="/admin") Vista admin
            a(href="/admin/login") Login Admin
            a(href="/") Listado parking
            a(href="/login") Login 
            a(href="/logout") Logout 
            a(href="/register") Register 
        block content 

        script(type="module", src="js/layout.js")
        block script