html 
    head    
        title OTA BILBAO 
        link(rel="stylesheet" href="/css/style.css")
    body 
        nav     
            a(href="/") Home 
            a(href="/propietarios") Listado propietarios 
            a(href="/operarios") Listado operarios
            a(href="/login") Login 
            a(href="/logout") Logout 
        block content 

        script(type="module", src="js/layout.js")
        block script