html
  head    
    title OTA BILBAO 
    link(rel="stylesheet" href="/css/style.css")
  body 
    nav  
      a(href="/coches") Listado coches
      a(href="/zona") Listado zonas
      a(href="/multas") Listado de multas
      a(href="/logout") Logout


    block content 

    script(type="module", src="js/layout.js")
    block script