extends ../layout

block content 
    h1.coches-list-title Lista de coches 
    if error 
        h2 No se han podido encontrar los datos
    else if coches 
        ul 
            each coche in coches 
                li.coche-list-item= coche.marca +', '+ coche.modelo +', '+ coche.matricula

