extends ../layout

block content
    h1.login-title Iniciar Sesión
    if error 
        p(class="error")= error
    div.div-ul
        form.login-form(action="/login", method="post")
            label.label-class(for="matricula") Matricula
            input.input-class(type="text", name="matricula", id="matricula")
            label.label-class(for="password") Contraseña
            input.input-class(type="password", name="password", id="password")
            input.button-class(type="submit", value="Iniciar sesión")
            
    div.register-link
        p ¿No tienes una cuenta?
        a(href="/register") Registrarse