extends ../layout

block content
    h1.register-title Registro
    if error 
        p(class="error")=error 

    div.div-ul
     form.register-form(action="/register", method="post")
        label.label-class(for="matricula") Matrícula 
        input.input-class(type="text", name="matricula", id="matricula")
        label.label-class(for="marca") Marca
        input.input-class(type="text", name="marca", id="marca")
        label.label-class(for="modelo") Modelo
        input.input-class(type="text", name="modelo", id="modelo")
        label.label-class(for="password") Password
        input.input-class(type="password", name="password", id="password")
        label.label-class(for="passwordConfirm") Repetir contraseña
        input.input-class(type="password", name="passwordConfirm", id="passwordConfirm")
        input.button-class(type="submit", value="Registrarse")
