extends ../layout

block content
    h1 Registro
    if error 
        p(class="error")=error 
    form(action="/register", method="post")
        label(for="matricula") Matricula 
        input(type="text", name="matricula", id="matricula")
        label(for="marca") Marca
        input(type="text", name="marca", id="marca")
        label(for="modelo") Modelo
        input(type="text", name="modelo", id="modelo")
        label(for="password") Password
        input(type="password", name="password", id="password")
        label(for="passwordConfirm") Repetir contraseña
        input(type="password", name="passwordConfirm", id="passwordConfirm")
        input(type="submit", value="Registrarse")